/*
HümaBar Styles... 
*/


/* Koyu tema */
@media (prefers-color-scheme: dark) {
    #humabar-box {
      background-color: rgba(40, 44, 52);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .humabar-button {
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
    }
  
    .humabar-button:hover {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .humabar-button-icon {
      fill: currentColor;
      opacity: 0.8;
    }
  
    #humabar-footer {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    #humabar-box > vbox::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
    }
  
   
  
   
  }
  
  /* Açık tema */
  @media (prefers-color-scheme: light) {
    #humabar-box {
      background-color: rgba(255, 255, 255);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .humabar-button {
      background-color: rgba(0, 0, 0, 0.1);
      color: #000000;
    }
  
    .humabar-button:hover {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .humabar-button-icon {
      fill: currentColor;
      opacity: 0.8;
    }
  
    #humabar-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  
    #humabar-box > vbox::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
  
   
  }
  
  /* Genel stiller */
  #humabar-header {
    padding-top: 40px;
    
  }
   
   
  #humabar-box > vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  
  .humabar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .humabar-button-icon {
    width: 24px;
    height: 24px;
    -moz-context-properties: fill;
    transition: opacity 0.3s ease;
  }
  
  #humabar-footer {
    margin-top: auto;
    padding: 20px 0;
  }
  
  #humabar-footer .humabar-button {
    margin: 0;
  }
  
  /* Opsiyonel: Yumuşak kaydırma efekti için */
  #humabar-box > vbox {
    overflow-y: auto;
    scrollbar-width: thin;
  }
  
   
  
  
  /* Koyu tema */
  @media (prefers-color-scheme: dark) {
   
    #huma-sidebar-web-panel-browser-containers {
      flex: 1;
      background-color: #2A2A2E;
     
      
    }
    #huma-vt-sidebar-web-panel-browser-containers {
      flex: 1;
      background-color: #2A2A2E;
     
      
    }
    #huma-sidebar-web-panel {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: #2A2A2E;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      
    }
    #huma-sidebar-web-panel-splitter {
      position: absolute;
      top: 0;
      left: -4px;
      height: 100%;
      width: 4px;
      cursor: ew-resize;
      background-color: black ;
    }
  }
  
  /* Açık tema */
  @media (prefers-color-scheme: light) {
   
  
    #web-panel > vbox::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
    #huma-sidebar-web-panel-browser-containers {
      flex: 1;
      background-color: rgba(255, 255, 255);
     
      
    }
    #huma-vt-sidebar-web-panel-browser-containers {
      flex: 1;
      background-color: rgba(255, 255, 255);
     
      
    }
    #huma-sidebar-web-panel {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: rgba(255, 255, 255);
      padding-left: 10px;
      padding-top: 10px;
      
    }
     
  #huma-sidebar-web-panel-splitter {
    position: absolute;
    top: 0;
    left: -4px;
    height: 100%;
    width: 4px;
    cursor: ew-resize;
    background-color:rgba(255, 255, 255) ;
  }
  
  }
  
  /** Sidebar view */
  #huma-sidebar-web-panel-wrapper {
    height: 100%;
    width: 450px;
    max-width:  750px;
    min-width:  250px;
    display: flex;
    flex-direction: column;
   
     
  }
  
  #huma-sidebar-web-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
    padding-left: 10px;
    padding-top: 10px;
    
  }
  
   
  
  
  
  #huma-sidebar-web-header {
    max-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  .web-panel-button-group {
    max-height: 78px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    background-color: #424252;
   
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
    
  }
  #huma-sidebar-web-panel-title {
    font-size: 16px;
    text-align: center;
    flex: 1;
    overflow: hidden;
   
    white-space: nowrap;
   
     
  }
  
  
  
  #huma-sidebar-web-panel browser[huma-sidebar-id] {
    height: 100%;
    width: 100%;
   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
  }
  
   
  #huma-vt-sidebar-web-panel browser[huma-vt-sidebar-id] {
    height: 100%;
    width: 100%;
   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
  }
  
   
   
   
  
   
  #huma-sidebar-web-panel-splitter {
  
    appearance: none;
    width: 6px;
    background-color: -moz-dialog;
    border: 1px ThreeDShadow;
    border-style: none solid;
    
  }
  
   
   
  
  #humabar-box   {
    overflow-y: auto;
    scrollbar-width: thin;
    /* max-width: 60px;
    min-width: 32px; */
  }
  
  
  .huma-sidebar-panel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .huma-sidebar-introduction-panel {
    display: flex;
    align-items: center;
    justify-content: center;
     
   
   
    background-color: #2A2A2E;
  }
  
  #huma-sidebar-panels-sites-container {
    height: max-content;
  }
  #humabar-items {
    height: max-content;
  }
  #humabar-item-settings {
    max-height: 48px;
  }
  
  
   